.leftWrapper {
    margin-right: 15px;
}

.leftWrapper legend {
    margin-left: 19px;
    font-size: 20px;
    font-weight: 600;
}

.fieldBox li{
    padding: 6px
}

.fieldBox a {
    color: #252436;
    transition: background 0.15s;
}

.fieldBox a:hover{
    color: #ca380b;
    transition: background 0.25s;
}